*{
    box-sizing: border-box ;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
   
 
}
.container {
    position: fixed;
    left: 0;
    background-attachment: scroll;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 80%;
    align-items: center;
    z-index: 0;
}
.isicontainer h1,h3{
    color: black;
    text-align: center;
}
.art {
    background-attachment: scroll;
    position: fixed;
    left: 320px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 80%;
    align-items: center;
    z-index: 0;
}
.data h1,h4{
    color: #333;
    text-align: center; 
    
}
.profile-image {
    display: flex;
    margin: 0 auto;
    width: 150px;
    height: 200px;
    
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.isiftr h1,p{
    color: black;

}

.nav {
    position: relative;
    padding: 10px;
    background-color: rgb(255, 174, 0);
    display: flex;
    align-items: center;
}

.nav .navatas h1{
    color: white;
}

.ftr{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: black;
    width: 100%;
}

.ftr .isiftr p{
    color: white;
}



